<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heroes | Clarke</title>
</head>
<body>
    <h1>Clarke</h1>
    <img src="/img/Clarke.jfif" alt="foto de clarke">
   
    <p>Joan Elisabeth Lowther Murray, nacida como Joan Elisabeth Lowther Clarke (Londres, 24 de junio de 1917 – Oxford, 4 de septiembre de 1996) fue una criptoanalista y numismática británica que trabajó en Bletchley Park durante la Segunda Guerra Mundial.

        Fue la única mujer que trabajó en el equipo del matemático Alan Turing en el proyecto Enigma, que desencriptó las comunicaciones secretas de la Alemania nazi. Su papel en este proceso le valió premios y citaciones, como el nombramiento como miembro de la Orden del Imperio Británico (MBE), en 1946.1​</p>
    <h2>Índice</h2>
    <ol type="1">
<li><a href="#pri">Primeros años</a></li>
<li><a href="#tre">Trayectoria</a></li>
<ol type="a">
    <li><a href="#desc">Descifrando códigos en Bletchley Park</a></li>
    <li><a href="#des">Después de la guerra</a></li>
    <li><a href="int">Interés numismático</a></li>
</ol>

<h2 id="pri">Primeros años</h2>
<p>Fue la más pequeña de los hijos de Dorothy Elisabeth Clarke y el clérigo William Kemp Lowther Clarke. Tuvo tres hermanos y una hermana.2​ Estudió en la escuela secundaria para niñas Dulwich High School en el sur de Londres. En 1936, ganó una beca para estudiar en el Newnham College, Cambridge, donde obtuvo una doble titulación en matemáticas.3​4​ Se le negó un título completo, ya que Cambridge sólo se lo otorgó a los hombres hasta 1948.1​

    Las habilidades matemáticas de Clarke fueron descubiertas por primera vez por Gordon Welchman, en una clase de Geometría en Cambridge. Welchman fue uno de los cuatro mejores matemáticos reclutados en 1939 para supervisar las operaciones de decodificación en Bletchley Park. Después de darse cuenta de las habilidades matemáticas de Clarke, la reclutó para que se uniera a él en Bletchley Park y formara parte de la Government Code and Cypher School (GC&CS).
    
    La GC&CS comenzó en 1939 con un único propósito, romper el Código Enigma alemán. Enigma era una máquina que los alemanes inventaron para encriptar sus mensajes; creían firmemente que su máquina era irrompible. Clarke llegó por primera vez a Bletchley Park el 17 de junio de 1940. En primer lugar, fue colocada en un grupo sólo de mujeres llamado "Las niñas", que se dedicaba principalmente al trabajo rutinario de oficina. En ese momento, la criptología no era un trabajo para mujeres. Según Clarke, ella sólo conocía a otra criptóloga que trabajaba en Bletchley Park.</p>

<h2 id="tre">Trayectoria</h2>
<h3 id="desc">Descifrando códigos en Bletchley Park</h3>
<p>En junio de 1940, Clarke fue reclutada por su antiguo supervisor académico, Gordon Welchman, para la GC&CS.5​ Trabajó en Bletchley Park en la sección conocida como Hut 8 y rápidamente se convirtió en la única mujer practicante de 'banburismus', un proceso criptoanalítico desarrollado por Alan Turing que redujo la necesidad de bombes (dispositivos electromecánicos como los utilizados por los criptólogos británicos Welchman y Turing para descifrar mensajes encriptados alemanes durante la Segunda Guerra Mundial).6​ La primera promoción de trabajo de Clarke fue al grado de lingüista, que fue diseñado para ganar dinero extra a pesar del hecho de que no hablaba otro idioma. Esta promoción fue un reconocimiento a su carga de trabajo y a sus contribuciones al equipo.

    En 1941, se capturaron embarcaciones junto a sus equipos de cifrado y códigos. Antes de que se obtuviera esta información, las rudeltaktik habían hundido 282.000 toneladas de barcos al mes de marzo a junio de 1941. En noviembre, Clarke y su equipo lograron reducir este número a 62.000 toneladas.7​ Hugh Alexander, jefe del Hut 8 de 1943 a 1944, la describió como "una de las mejores banburistas de la sección".8​ El propio Alexander era considerado como el mejor de los banburistas. Él y I.J. Good consideraron el proceso más como un juego intelectual que como un trabajo. No fue "lo suficientemente fácil como para ser trivial, pero no lo suficientemente difícil como para causar un colapso nervioso".9​ Clarke se convirtió en subdirectora del Hut 8 en 1944,10​11​ aunque se le impidió progresar debido a su género, y se le pagaba menos que a los hombres.12</p>
    
<h3 id="des">Después de la guerra</h3>
<p>Después de la guerra, Clarke trabajó para el GC&CS donde conoció al Teniente Coronel John Kenneth Ronald Murray, un oficial retirado del ejército que había servido en la India. Se casaron el 26 de julio de 1952 en la Catedral de Chichester. Poco después de su matrimonio, John Murray se retiró debido a su mala salud y la pareja se mudó a Crail en Fife (Escocia),13​ donde vivían en Priorscroft, 14 Nethergate.14​ Volvieron a trabajar en GC&CS en 1962, donde Clarke permaneció hasta 1977, cuando se jubiló a los 60 años.15​16​

    Tras la muerte de su marido en 1986, Clarke se trasladó a Headington, Oxfordshire, donde continuó su investigación sobre la acuñación de monedas. Durante la década de 1980, asistió al historiador Harry Hinsley con el apéndice del volumen 3, parte 2 de la publicación British Intelligence in the Second World War. También asesoró a historiadores que estudiaban la ruptura de códigos en tiempos de guerra en Bletchley Park. Debido al secreto continuo entre los criptoanalistas, el alcance total de sus logros sigue siendo desconocido.15​</p>
   
<h3 id="int">Interés numismático</h3>  
<p>Después de conocer a su marido, que había publicado trabajos sobre la moneda escocesa de los siglos XVI y XVII, Clarke se interesó por la historia numismática. Estableció la secuencia de la compleja serie de monedas de 'unicornio de oro' y de 'trigo pesado' que circulaban en Escocia durante los reinados de Jacobo III y Jacobo IV. En 1986, su investigación fue reconocida por la British Numismatic Society cuando le fue otorgada la Medalla de Oro Sanford Saltus. El número 405 de la Circular Numismática describe su trabajo sobre el tema como "magistral".17​18​</p>
    
<div> <img src="/img/clarke.jpg" alt="foto de clarke"></div>  
    
<a href="https://es.wikipedia.org/wiki/Joan_Clarke" target="_blank">Fuente : wikipedia</a>
    
    
    
    <ul type="none">
        <li><a href="/">Home</a></li>
        <li><a href="/babbage">Babbage</a></li>
        <li><a href="/berners-lee">Berners-Lee</a></li>
        <li><a href="/clarke">Clarke</a></li>
        <li><a href="/hamilton">Hamilton</a></li>
        <li><a href="/hopper">Hopper</a></li>
        <li><a href="/lovelace">Lovelace</a></li>
        <li><a href="/turing">Turing</a></li>
    </ul>
  
       
    
</body>
</html>