<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heroes | Hamilton</title>
</head>
<body>
    <h1>Hamilton</h1>
    <img src="/img/Hamilton.jfif" alt="foto de hamilton">
    <p>Linda Carroll Hamilton (Salisbury, Maryland, 26 de septiembre de 1956) es una actriz estadounidense. Realizó el papel más notable como Sarah Connor en las películas The Terminator, Terminator 2: Judgment Day y Terminator: Dark Fate, así como en otras películas. También ha protagonizado series de televisión como La bella y la bestia.</p>

<h2>Índice</h2>
<ol>
    <li><Biografía href="#bio">Biografía</a></li>
    <li><a href="#fi">Filmografía</a></li>
    <li><a href="#re">Referencias</a></li>
</ol>
<h3 id="bio">Biografía</h3>
<p>Aunque de pequeña Linda Hamilton pensó en ser una famosa arqueóloga, con el tiempo se dio cuenta de que la interpretación era lo que realmente le gustaría hacer. Linda Hamilton comenzó trabajando con niños en un grupo de teatro en su ciudad natal y tras pasar algunos años tomó clases de interpretación en el Washington College en Chestertown (Maryland), posteriormente se abrió camino hasta llegar a Nueva York y estudiar en el famoso instituto de teatro Lee Strasberg, que le sirvió de ayuda para buscar su lugar en Hollywood. Los primeros papeles de Linda Hamilton fueron para la televisión y poco importantes.

    Su gran oportunidad llegó con una película que suponían que no tendría mucho éxito y que no duraría mucho en las salas titulada The Terminator (Terminator en España y México y El Exterminador en el resto de Hispanoamérica). Su papel era el de una mujer que debía huir de un androide, interpretado por Arnold Schwarzenegger, que debe impedir el nacimiento de su hijo John Connor, que será el futuro líder de la resistencia humana y salvaría al mundo. La película fue un éxito de taquilla y su papel muy llamativo, hasta tal punto que 7 años después lo volvió a interpretar cambiando de tal forma el personaje que la bautizaron como la heroína favorita de Hollywood.</p>

<h3 id="fi">Filmografía</h3>
<p>Night-Flowers (1979) como Luna.
    Tag: The Assassination Game (1982) como Suzan Swayze.
    The Stone Boy (1984) como Erica Sisie.
    Children of the Corn (1984) como Vicky.
    The Terminator (1984) como Sarah Connor.
    Secret Weapons (1985) como Elena Koslov.
    Black Moon Rising (1986) como Amantha Londres.
    King Kong Lives (1986) como Amy Franklin.
    La bella y la bestia (1987, serie de televisión) como Catherine.
    Go Toward the Light (1988, telefilm).
    Mr. Destiny (1990) como Ellen Jane.
    Terminator 2: Judgment Day (1991) como Sarah Connor.
    Silent Fall (1994) como Karen Rainer.
    A Mother's Prayer (1995) como Rose Mary.
    Separate Lives (1995) como Lauren Porter.
    T2 3-D: Battle Across Time (1996).
    Shadow Conspiracy (1997) como Amanda Givens.
    Un pueblo llamado Dante's Peak (1997) como la alcaldesa Rachel Wando.
    Rescuers: Stories of Courage: Two Couples (1998).
    The Secret Life of Girls (1999) como Ruby Sanford.
    Skeletons in the Closet (2000) como Tina Conway.
    Sex & Mrs. X (2001).
    Silent Night (2002) como Elisabeth Vincken.
    Wholey Moses (2003).
    Jonah (2004).
    Missing in America (2005).
    Smile (2005).
    Broken (2006).
    Thief (2006).
    Terminator Salvation (2009) como Sarah Connor (voz).
    Chuck (2010).
    Weeds (2010).
    La Caída del Air Force One (2013) La presidenta de los Estados Unidos.
    Bermuda tentacles (2014).
    Defiance (2014-2015) Pilar McCawley.
    Terminator: Dark Fate (2019) como Sarah Connor.</p>
    <h3 id="re">Referencias</h3>
    <p> «Linda Hamilton pasa del sexo». La Vanguardia. 29 de septiembre de 2019. Consultado el 29 de septiembre de 2019.
        Enlaces externos</p>


<div><img src="/img/Hamilton.jpg" alt="foto de hamilton"></div>

<a href="https://es.wikipedia.org/wiki/Linda_Hamilton" target="_blank">Fuente : wikipedia</a>






    
    <ul type="none">
        <li><a href="/">Home</a></li>
        <li><a href="/babbage">Babbage</a></li>
        <li><a href="/berners-lee">Berners-Lee</a></li>
        <li><a href="/clarke">Clarke</a></li>
        <li><a href="/hamilton">Hamilton</a></li>
        <li><a href="/hopper">Hopper</a></li>
        <li><a href="/lovelace">Lovelace</a></li>
        <li><a href="/turing">Turing</a></li>
    </ul>
    
       
    
</body>
</html>